        <div class="error">
            <div class="error-code m-b-10">Error! <i class="fa fa-warning"></i></div>
            <div class="error-content">
                <div class="error-message">[[errorCode]]</div>
                
                <div class="error-desc m-b-20">
                    [[errorMsg]]
                </div>
                
                <div>
                    <a href="javascript: window.history.back ()" class="btn btn-success">Go back one page</a>
                    <a href="mailto: micha@mcactive.nl" class="btn btn-success">Mail the system administrator</a>
                </div>
            </div>
        </div>